<div class="search-summary-container">
    <div class="search-summary-item" id="summary-location" data-field="location" style="cursor: pointer; transition: 0.2s;">
        <div class="search-summary-icon">
            <i class="material-icons">place</i>
        </div>
        <div class="search-summary-content">
            <div class="search-summary-label">Location</div>
            <div class="search-summary-value">THE WORLD</div>
        </div>
    </div>
    <div class="location-dropdown" style="display: none;">
        <div class="location-option">THE WORLD</div>
        <div class="location-option">EUROPE</div>
        <div class="location-option">ASIA</div>
    </div>
</div> 